<h1 class="text-center mt-2 mb-5 text-success"> Infos </h1>
<p><%= link_to "login" %></p>
<% @infos.each do |post|%>
  <h2><%= link_to post.name, post %></h2>
  <p><%= link_to "Edit", edit_info_path(post) %> |
    <%= link_to "Delete", post,:data => {:confirm => "You sure?", :method => "delete"}  %></p>
  <hr>
<% end %>
<p><%= link_to "Add a new post", new_info_path %></p>
