<h1 style="margin: 2% 40%">Infos show</h1>
<h3><%= @info.name %></h3>
<p><%= @info.age %></p>
<p><%= @info.email %></p>
<p><%= @info.bio %></p>
<p><%= @info.password %></p>
<small><%= @info.created_at %></small>
<p><%= link_to "Return to Home", infos_path %></p>