<%=render "layouts/errors", :object => @info %>

<%= form_for @info do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label "password Confirmation" %>
    <%= f.password_field :password_confirmation , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio , class:"form-control"%>
  </div>
  <div class="form-group">
   <%= f.submit "Add Now", class:"btn btn-success btn-lg" %>
  </div>
<% end %>